/*  --------------------------------------------- Elementos comuns a todas as páginas -------------------------------------------- */

body,
html {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: rgb(207, 207, 130);
    font-size: 30px;
    margin-bottom: 5px;
}

h2 {
    text-align: left;
    color: rgb(207, 207, 130);
    font-size: 24px;
    margin-left: 30px;
}

p {
    color: rgb(207, 207, 130);
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    margin-top: 10px;
    width: 250px;
    height: 140px;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgb(129, 93, 153, 0.9);
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.navbar-desktop {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(129, 93, 153);
    border-radius: 8px;
    font-size: 18px;
}

.navbar-mobile {
    display: flex;
    list-style: none;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    width: 80%;
    padding: 0;
}

.navbar-mobile li {
    border-bottom: 1px solid black;
    padding-bottom: 1.2rem;
}

.navbar-desktop li a,
.navbar-mobile li a {
    display: block;
    font-size: 20px;
    padding: 10px 20px;
    margin: 5px;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar-desktop li a:hover,
.navbar-mobile li a:hover {
    background-color: black;
    color: white;
}

.ham,
.close {
    background: none;
    border: none;
    color: #FFF;
    cursor: pointer;
    display: none
}

.ham {
    font-size: 30px;
    margin-right: 20px;
}

.close {
    font-size: 30px;
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: end;
}

.flex {
    display: flex;
}

/*  --------------------------------------------- Elementos comuns a todas as páginas -------------------------------------------- */

/*  --------------------------------------------- Elementos exclusivos da home page -------------------------------------------- */

#home-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
}

.home-desc p {
    text-align: center;
    font-size: 22px;
}

.home-image {
    justify-self: center;
}

.home-image img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

/*  --------------------------------------------- Elementos exclusivos da home page -------------------------------------------- */

/*  --------------------------------------------- Elementos exclusivos da biografia -------------------------------------------- */

#bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    gap: 30px;
    margin-top: 50px;
}

#bio h2 {
    justify-self: center;
}

#bio img {
    margin-top: 25px;
    justify-self: center;
    align-items: center;
    width: 475px;
    height: auto;
    border-radius: 10px;
}

/*  --------------------------------------------- Elementos exclusivos da biografia -------------------------------------------- */

/*  --------------------------------------------- Elementos exclusivos da discografia -------------------------------------------- */

h3 {
    text-align: center;
    color: rgb(207, 207, 130);
    font-size: 15px;
    margin-top: 10px;
}

#albuns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    gap: 30px;
}

.capas {
    justify-self: center;
    align-items: center;
    text-decoration: none;
}

.capas img {
    width: 350px;
    height: 350px;
    margin-top: 25px;
    border-radius: 10px;
}

figcaption {
    color: rgb(207, 207, 130);
    text-align: right;
    font-size: 14px;
}

/*  --------------------------------------------- Elementos exclusivos da discografia -------------------------------------------- */

/*  --------------------------------------------- Elementos exclusivos da homenagem -------------------------------------------- */

#homenagem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}

#homenagem h2 {
    justify-self: center;
}

#homenagem img {
    justify-self: center;
    align-items: center;
    width: 600px;
    height: 400px;
    border-radius: 8px;
}

/*  --------------------------------------------- Elementos exclusivos da homenagem -------------------------------------------- */

/*  --------------------------------------------- Elementos exclusivos da contatos -------------------------------------------- */

#UVVLogo {
    text-align: center;
    margin-top: 35px;
}

#UVVLogo img {
    width: 600px;
    height: 200px;
}

#aboutus {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

#aboutus h2 {
    text-align: center;
}

.aboutus-image {
    text-align: center;
}

.aboutus-image a {
    display: inline-flex;
    width: 75px;
    height: 75px;
}

.aboutus-image a img {
    border-radius: 20px;
}

/*  --------------------------------------------- Elementos exclusivos da contatos -------------------------------------------- */

/*  -------------------------------------------------------- Media queries ---------------------------------------------------- */

/* Mobile */

@media (max-width: 1024px) {
    html {
        font-size: 12px;
    }

    p {
        color: rgb(207, 207, 130);
        font-size: 20px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 25px;
    }

    .navbar-desktop {
        display: none
    }

    .ham {
        display: block
    }

    .logo img {
        width: 120px;
        height: 70px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

    #UVVLogo {
        margin-top: 0px;
    }

    #UVVLogo img {
        width: 400px;
        height: auto;
    }

    #aboutus {
        margin-top: 0px;
    }
}