/*  --------------------------------------------- Elementos comuns a todas as páginas -------------------------------------------- */

body {
    background-color: #0f0f0f;
}

h1 {
    text-align: center;
    color: rgb(207, 207, 130);
    font-size: 30px;
    margin-bottom: 5px;
}

h2 {
    text-align: left;
    color: rgb(207, 207, 130);
    font-size: 24px;
    margin-left: 30px;
}

p {
    color: rgb(207, 207, 130);
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.header img {
    margin-top: 10px;
    width: 250px;
    height: auto;
}

.navbar {
    text-align: center;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: rgb(129, 93, 153);
    border-radius: 8px;
    font-size: 18px;
    gap: 40px;
}

.navbar li a {
    display: block;
    padding: 10px 20px;
    margin: 5px;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar li a:hover {
    background-color: black;
    color: white;
}

footer {
    bottom: 0;
    right: 0;
    color: rgb(207, 207, 130);
    text-align: right;
    margin-top: 50px;
}

/*  --------------------------------------------- Elementos comuns a todas as páginas -------------------------------------------- */

/*  --------------------------------------------- Elementos exclusivos da home page -------------------------------------------- */

#home-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
}

.home-desc p {
    text-align: center;
    font-size: 22px;
}

.home-image {
    justify-self: center;
}

.home-image img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

/*  --------------------------------------------- Elementos exclusivos da home page -------------------------------------------- */

/*  --------------------------------------------- Elementos exclusivos da biografia -------------------------------------------- */

#bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    gap: 30px;
    margin-top: 50px;
}

#bio h2 {
    justify-self: center;
}

#bio img {
    margin-top: 25px;
    justify-self: center;
    align-items: center;
    width: 475px;
    height: auto;
    border-radius: 10px;
}

/*  --------------------------------------------- Elementos exclusivos da biografia -------------------------------------------- */

/*  --------------------------------------------- Elementos exclusivos da discografia -------------------------------------------- */

h3 {
    text-align: center;
    color: rgb(207, 207, 130);
    font-size: 15px;
    margin-top: 10px;
}

#albuns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    gap: 30px;
}

.capas {
    justify-self: center;
    align-items: center;
    text-decoration: none;
}

.capas img {
    width: 350px;
    height: 350px;
    margin-top: 25px;
    border-radius: 10px;
}

figcaption {
    color: rgb(207, 207, 130);
    text-align: right;
    font-size: 14px;
}

/*  --------------------------------------------- Elementos exclusivos da discografia -------------------------------------------- */

/*  --------------------------------------------- Elementos exclusivos da homenagem -------------------------------------------- */

#homenagem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}

#homenagem h2 {
    justify-self: center;
}

#homenagem img {
    justify-self: center;
    align-items: center;
    width: 600px;
    height: 400px;
    border-radius: 8px;
}

/*  --------------------------------------------- Elementos exclusivos da homenagem -------------------------------------------- */

/*  --------------------------------------------- Elementos exclusivos da contatos -------------------------------------------- */

#UVVLogo {
    text-align: center;
    margin-top: 35px;
}

#UVVLogo img {
    width: 600px;
    height: 200px;
}

#aboutus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

#aboutus h2 {
    text-align: center;
}

.aboutus-image {
    text-align: center;
}

.aboutus-image a {
    display: inline-flex;
    width: 75px;
    height: 75px;
    margin-left: 10px;
    margin-right: 10px;
}

.aboutus-image a img {
    border-radius: 20px;
}

/*  --------------------------------------------- Elementos exclusivos da contatos -------------------------------------------- */